/* Common use */
.bold-text {
  font-weight: bold;
}

/* Body */
#flightroute-btn-container {
  display: flex;
  margin: 0.625rem 0 0 1rem;
  position: absolute;
  z-index: 1;
}

.flightroute-btn-change-maptype {
  text-align: center;
  text-transform: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border: 0px;
  border-radius: 2px;
  width: 80px;
  height: 40px;
  padding: 10px;
}

.flightroute-btn-addmission {
  text-align: center;
  text-transform: uppercase;
  width: 85px;
  padding: 10px;
  margin: 3.5rem 0 0 -2px !important;
  z-index: 1;
  position: absolute !important;
  color: white;
}

/* Dialog */
.flightroute-dialog-icon {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  align-items: center;
}

.flightroute-select-date {
  min-width: 120;
  margin-top: 8px;
}

.flightroute-select-tuyen {
  margin-top: 8px;
  min-width: 120;
}

.flightroute-dialogtab-stream {
  width: 1000px;
  height: 1000px;
  text-transform: uppercase;
}

.flightroute-google-map {
  height: 95vh;
  width: 100%;
  z-index: 0;
}
