/* common use */
.onclose-panel {
  opacity: 1 !important;
  transition: opacity 0.5s ease-in;
}

.onclose-btn {
  left: 18.9% !important;
  transition: 0.5s ease-out;
}

/* body */
.flightroute-close-leftpanel {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 67%;
  transition: 0.5s ease-in;
}

.flightroute-close-leftpanel button {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 12px;
}

.flightroute-left-panel {
  position: absolute;
  z-index: 1;
  width: 18rem;
  height: 425px;
  background-color: white;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.flightroute-itemcard {
  margin-top: 6px;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.flightroute-itemcard-header {
  background-color: red;
  color: white;
  padding: 1px;
  font-size: 8px;
  text-transform: uppercase;
  border: 1px solid black;
  text-align: center;
}

.flightroute-itemcard-content {
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid black;
}
