/* common use */
.onclick {
  border: 2px solid red !important;
}

.choosed {
  opacity: 0.4;
}

.hadsubmitted {
  pointer-events: none;
}

.line-seperate-items {
  margin-left: 25%;
  margin-top: 10px;
  left: 25%;
  width: 50%;
  height: 5px;
  background-color: #1976d2;
}

.checkmark-hadsent {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #7fff00;
  border-right: 7px solid #7fff00;
}

.checkmark-hadchoosed {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #d2042d;
  border-right: 7px solid #d2042d;
}

/* khung modal after fly */
.modal-afterfly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 91%;
  /* border: 2px solid #000; */
  box-shadow: 24;
  padding-right: 0;
}

.modal-afterfly__header {
  display: flex;
  justify-content: space-between;
}

.modal-afterfly__form-label {
  margin: 0;
  height: 33px;
}

.modal-afterfly__btn-group,
.modal-afterfly__submit-btn,
.modal-afterfly__close-btn {
  display: flex;
  justify-content: space-between;
}

.modal-afterfly__submit-btn {
  background-color: #1976d2 !important;
  color: var(--white-color) !important;
  height: 32.5px;
  margin-right: 45px !important;
}

.modal-afterfly__close-btn {
  align-items: center;
  justify-items: center;
}

/* .modal-afterfly__body {
  height: 95.5%;
  border: 1px solid black;
} */

/* .modal-afterfly__img-list {
  height: 90vh;
  overflow-y: auto;
} */

.modal-afterfly__img-list-title {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.modal-afterfly__img-list-items-header {
  display: flex;
  justify-content: space-between;
}

.modal-afterfly__img-list-items-label:hover {
  border: 2px solid red;
}

.modal-afterfly__zoom-btn {
  height: 36px !important;
  min-width: 10px !important;
  margin-right: 10px !important;
}

.modal-afterfly__edit-btn {
  max-height: 36px !important;
  min-width: 10px !important;
}

/* btn to open modal after fly to test */
.btn-showmodal {
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px;
  margin: 140px 0 0 15px !important;
  z-index: 1;
  position: absolute !important;
  background-color: chartreuse !important;
  color: white;
}
