/* common use */
.onclose-rightpanel {
  opacity: 1 !important;
  /* transition: opacity 0.5s ease-out; */
}

.onclose-btn-rightpanel {
  right: 26.8% !important;
  /* left: 0; */
  /* transition: 0.5s ease-out; */
}

.flightroute-before-datareturned {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

/* body */
.flightroute-close-rightpanel {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 67%;
  /* transition: 0.5s ease-in; */
}

.flightroute-close-rightpanel button {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 12px;
}

.flightroute-right-panel {
  position: absolute;
  z-index: 1;
  width: 409px;
  height: 75vh;
  background-color: white;
  bottom: 0;
  right: 0;
  opacity: 0;
  /* transition: opacity 0.5s ease-in; */
}

.flightroute-tableinfo {
  width: 100%;
  height: 15vh;
}

.flightroute-tableinfo table {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-collapse: collapse;
}

.flightroute-tableinfo table tr td {
  border: 2px solid black;
}

.flightroute-webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flightroute-rgbview-container {
  height: 227.5px;
  width: 100%;
  border-bottom: 3px solid black;
  position: relative;
}

.flightroute-rgb-expandbtn {
  position: absolute;
  z-index: 1;
  border: 0px;
  padding: 0px;
  text-transform: none;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.flightroute-rgb-expandbtn button {
  background: rgba(0, 0, 0, 0.1);
  border: 0px;
  cursor: pointer;
}

.flightroute-rgb-title {
  position: absolute;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

.flightroute-thermalview-container {
  height: 230.5px;
  width: 100%;
  border-bottom: 3px solid black;
  position: relative;
}

.flightroute-thermal-title {
  position: absolute;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

.flightroute-expandcam-container {
  display: flex;
  width: 100%;
  height: 681px;
  overflow-y: hidden;
}

.flightroute-rgbcam-expand-container {
  width: 50%;
  position: relative;
  border: 1px solid black;
}

.flightroute-rgbcam-expand-title,
.flightroute-thermalcam-expand-title {
  position: absolute;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  color: red;
}

.flightroute-thermalcam-expand-container {
  width: 50%;
  position: relative;
  border: 2px solid black;
}

.flightroute-thermalcam-expand-content,
.flightroute-rgbcam-expand-content {
  width: 100%;
  height: 100%;
}

.flightroute-thermalcam-expand-content video,
.flightroute-rgbcam-expand-content video {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
