:root {
  --font-text: "Roboto", sans-serif;
  --white-color: #fff;
  --black-color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: var(--font-text);
}

body {
  overflow: hidden;
}

html {
  line-height: 1.6rem;
  box-sizing: border-box;
}

/* common use */
.choosed {
  opacity: 0.4;
}

.hadsubmitted {
  pointer-events: none;
}

.line-seperate-items {
  margin-left: 25%;
  margin-top: 10px;
  left: 25%;
  width: 50%;
  height: 5px;
  background-color: #1976d2;
}

.checkmark-hadsent {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #7fff00;
  border-right: 7px solid #7fff00;
}

/* .checkmark-hadchoosed {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #d2042d;
  border-right: 7px solid #d2042d;
} */

.checkmark-hadchoosed {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #7fff00;
  border-right: 7px solid #7fff00;
}

.icon-hadsent {
  position: absolute;
  height: 100px !important;
  width: 100px !important;
  margin-top: 30%;
  margin-left: 41%;
}

/* Responsive base */

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__ful-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* MUI style */
.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  z-index: 0;
}

/* React-slick */
.slick-prev:before {
  color: black;
}
