:root {
  --font-text: "Roboto";
  --white-color: #fff;
  --black-color: #000;
  --screen-width-resolution: 1920px;
  --screen-height-resolution: 1080px;
  --navbar-height: 65px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: var(--font-text);
}

body {
  overflow: hidden;
}

html {
  line-height: 1.6rem;
  box-sizing: border-box;
}

/* common use */
.choosed {
  opacity: 0.4;
}

.hadsubmitted {
  pointer-events: none;
}

.line-seperate-items {
  margin-left: 10%;
  margin-top: 10px;
  width: 80%;
  height: 5px;
  background-color: #1976d2;
}

/* .checkmark-hadsent {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #7fff00;
  border-right: 7px solid #7fff00;
} */

/* .checkmark-hadchoosed {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #d2042d;
  border-right: 7px solid #d2042d;
} */

.checkmark-hadchoosed {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #7fff00;
  border-right: 7px solid #7fff00;
}

.icon-hadsent {
  position: absolute;
  height: 100px !important;
  width: 100px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive */

/* MUI style */
.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  z-index: 0;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  -webkit-text-fill-color: black !important;
}

.css-1lbintu-MuiFormLabel-root-MuiInputLabel-root.Mui-disabled {
  color: black !important;
}

/* React-slick */
.slick-prev:before {
  color: black;
}
