/* defect list button */
.defect-list__btn {
  position: absolute;
  z-index: 2;
}

.defect-list__btn button {
  display: flex;
  justify-content: center;
  width: 12px;
}

.defect-list__btn--open {
  bottom: calc((100% - 64px - 60px - 42px) / 3);
  left: 288px !important;
  transition: 0.5s ease-out;
}

.defect-list__btn--close {
  left: 0;
  bottom: calc((100% - 64px - 60px - 42px) / 3);
  transition: 0.5s ease-in;
}

.defect-list__container {
  position: absolute;
  z-index: 1;
  width: 288px;
  height: calc(100% - 64px - 60px - 42px);
  background-color: white;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.defect-list__container--open {
  opacity: 1 !important;
  transition: opacity 0.5s ease-in;
}

.defect-list__container--close {
  opacity: 0;
  /* transition: opacity 0.5s ease-in; */
}

.defect-items-card {
  margin-top: 6px;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.defect-items-card__header {
  background-color: red;
  color: white;
  padding: 1px;
  font-size: 8px;
  text-transform: uppercase;
  border: 1px solid black;
  text-align: center;
}

.defect-items-card__body {
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid black;
}

@media (max-width: 895px) {
  .defect-list__container {
    position: absolute;
    z-index: 1;
    width: 409px;
    height: calc(100% - 456px - 64px - 10px);
    background-color: white;
    left: calc(100% - 409px);
    top: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    opacity: 1 !important;
    border: 1px solid black;
    border-radius: 5px;
  }

  .defect-list__btn--open {
    display: none;
  }

  .defect-list__btn--close {
    display: none;
  }

  .defect-list__container--open {
    opacity: 1;
  }

  .defect-list__container--close {
    opacity: 1;
  }
}
