.mainflight-map__btn-change-maptype {
  position: absolute;
  z-index: 1;
  text-align: center;
  text-transform: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border: 0px;
  border-radius: 2px;
  width: 80px;
  height: 40px;
  padding: 10px;
  margin-left: 16px;
  margin-top: 10px;
}

.mainflight-map {
  height: calc(100% - 64px);
  width: 100%;
  position: absolute;
  z-index: 0;
}

.dot-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
}

@media (max-width: 895px) {
  .mainflight-map {
    border: 1px solid black;
    border-radius: 5px;
    height: calc(100% - 80px);
    width: calc(100% - 413px);
    position: absolute;
    z-index: 0;
    top: 74px;
    left: 2px;
  }

  .mainflight-map__btn-change-maptype {
    position: absolute;
    z-index: 1;
    text-align: center;
    text-transform: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border: 0px;
    border-radius: 2px;
    width: 80px;
    height: 40px;
    padding: 10px;
    margin-left: 16px;
    margin-top: 12px;
  }
}
