.mainflight-map__btn-change-maptype {
  position: absolute;
  z-index: 1;
  text-align: center;
  text-transform: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border: 0px;
  border-radius: 2px;
  width: 80px;
  height: 40px;
  padding: 10px;
  margin-left: 16px;
  margin-top: 10px;
}

.mainflight-map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
