/* Dialog */
.add-mission-dialog__btn-addmission {
  text-align: center;
  text-transform: uppercase;
  width: 85px;
  margin-left: 16px !important;
  margin-top: 60px !important;
  z-index: 1;
  position: absolute !important;
  color: white;
}

.add-mission-dialog__icon {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  align-items: center;
}

.add-mission-dialog__form-id-textfield,
.add-mission-dialog__select-date-textfield,
.add-mission-dialog__select-tuyen-form,
.add-mission-dialog__select-UAV-form,
.add-mission-dialog__select-superviseType-form {
  min-width: 120px;
  margin-top: 8px;
}
