.info-panel__no-signal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

/* body */
.info-panel__btn {
  position: absolute;
  z-index: 2;
  /* transition: 0.5s ease-in; */
}

.info-panel__btn-zoomed {
  position: absolute;
  z-index: 0;
}

.info-panel__btn button {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 12px;
}

.info-panel__btn--open {
  top: 80%;
  right: 409px !important;
}

.info-panel__btn--close {
  top: 80%;
  right: 0;
}

.info-panel__container {
  position: absolute;
  z-index: 1;
  width: 409px;
  height: 456px;
  background-color: white;
  bottom: 0;
  right: 0;
}

.info-panel__container--open {
  opacity: 1 !important;
}

.info-panel__container--close {
  opacity: 0;
}

.info-panel__tableinfo {
  width: 100%;
  height: 150px;
}

.info-panel__tableinfo table {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.info-panel__tableinfo table tr td {
  border: 1px solid black;
  vertical-align: center;
}

.info-panel__cameraview {
  width: 409px;
  height: 306px;
  position: relative;
}

.info-panel__cameraview-zoomed {
  width: 1280px;
  height: 720px;
  position: relative;
}

.info-panel__zoom-btn {
  position: absolute;
  z-index: 1;
  border: 0px;
  padding: 0px;
  text-transform: none;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  background: white;
  overflow: hidden;
}

.info-panel__zoom-btn-zoomed {
  position: absolute;
  z-index: 4;
  border: 0px;
  padding: 0px;
  text-transform: none;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  background: white;
  overflow: hidden;
  /* position: fixed; */
  bottom: calc(680px + 150px + 387px);
  right: calc(1240px + 1089px);
}

.info-panel__zoom-btn button {
  background: rgba(0, 0, 0, 0.1);
  border: 0px;
  cursor: pointer;
}

.info-panel__camera {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.info-panel__camera-zoom-dialog {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  bottom: calc(17% + 264px + 150px);
  right: calc(17% + 871px);
}

.mainflight-rgb-title {
  position: absolute;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

/* .info-panel__camera-zoom-dialog {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
} */

.info-panel__detect-box {
  position: absolute;
  top: 0;
  left: 0;
}

.info-panel__detect-box-zoomed {
  position: absolute;
  bottom: calc(17% + 264px + 150px);
  right: calc(17% + 871px);
  z-index: 2;
}

@media (max-width: 895px) {
  .info-panel__btn--open {
    display: none;
  }

  .info-panel__btn--close {
    display: none;
  }

  .info-panel__container {
    position: absolute;
    z-index: 1;
    width: 409px;
    height: 456px;
    background-color: white;
    bottom: 0;
    right: 0;
    opacity: 1 !important;
  }

  .info-panel__tableinfo {
    width: 100%;
    height: 144px;
  }

  .info-panel__tableinfo table {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    background-color: white;
  }

  .info-panel__cameraview {
    width: 409px;
    height: 306px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
  }

  .info-panel__cameraview-zoomed {
    width: 640px;
    height: 480px;
    position: relative;
  }

  .info-panel__detect-box-zoomed {
    position: absolute;
    z-index: 2;
    bottom: calc(174px + 144px);
    right: calc(231px + 137px);
  }

  .info-panel__camera-zoom-dialog {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    bottom: calc(174px + 144px);
    right: calc(231px + 137px);
  }

  .info-panel__zoom-btn-zoomed {
    /* position: absolute; */
    z-index: 4;
    border: 0px;
    padding: 0px;
    text-transform: none;
    height: 40px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    background: white;
    overflow: hidden;
    position: fixed;
    bottom: calc(144px + 306px + 174px - 40px + 6px);
    right: calc(409px + 368px - 40px);
  }
}

@media (min-width: 896px) and (max-width: 1500px) {
  .info-panel__tableinfo {
    width: 100%;
    height: 150px;
  }

  .info-panel__cameraview {
    width: 409px;
    height: 306px;
    position: relative;
  }

  .info-panel__cameraview-zoomed {
    width: 640px;
    height: 480px;
    position: relative;
  }

  .info-panel__detect-box-zoomed {
    position: absolute;
    z-index: 2;
    bottom: calc(174px + 150px);
    right: calc(231px + 272px);
  }

  .info-panel__camera-zoom-dialog {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    bottom: calc(174px + 150px);
    right: calc(231px + 272px);
  }

  .info-panel__zoom-btn-zoomed {
    /* position: absolute; */
    z-index: 4;
    border: 0px;
    padding: 0px;
    text-transform: none;
    height: 40px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    background: white;
    overflow: hidden;
    position: fixed;
    bottom: calc(150px + 306px + 174px - 40px);
    right: calc(409px + 503px - 40px);
  }
}
