.logoNormal,
.logoResponsive {
  width: 50px;
  height: 50px;
}

.userAccountSettingCancelBtn {
  height: 32px;
  position: absolute !important;
  top: 0;
  right: 0;
}

.navigateItem {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin-left: 32px;
  color: white;
  display: block;
}

.navigateItem:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.navigateItem:active {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

/* For xs screen sizes, set display to none */
@media only screen and (max-width: 599px) {
  .logoNormal {
    display: none;
  }

  .logoResponsive {
    display: flex;
    margin-right: 1;
  }
}

/* For md screen sizes and above, set display to flex and add margin-right of 1 unit */
@media only screen and (min-width: 600px) {
  .logoNormal {
    display: flex;
    margin-right: 1;
  }

  .logoResponsive {
    display: none;
  }
}
