/* React-slick */
.slick-next:before {
  color: black;
}

.slick-next,
.slick-prev {
  z-index: 1;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.error-image-slide {
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
}
