.home-left-panel {
  height: 95vh;
  border: 2px solid black;
  overflow-y: auto;
  -ms-overflow-style: none; /* hide scrollbar IE and Edge */
  scrollbar-width: none; /* hide scrollbar Firefox */
}

.home-left-panel::-webkit-scrollbar {
  display: none; /* hide scrollbar for Chrome, Safari and Opera*/
}

.home-middle-panel-map {
  position: relative;
  min-height: 35vh;
  max-width: 100vw;
  border: 2px solid black;
}

.home-middle-panel-listVT,
.home-middle-panel-listTB {
  border: 2px solid black;
  max-height: 55.8vh;
}

.home-right-panel {
  height: 95vh;
  border: 2px solid black;
}
