.mission-card__container:hover,
.mission-card__container--choosed:hover {
  cursor: pointer;
}
.mission-card__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.mission-card__container--unchoosed,
.mission-card__container--choosed {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mission-card__container--unchoosed {
  height: 7%;
}

.mission-card__container--choosed {
  min-height: fit-content;
}

.mission-card__header {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.mission-card__icon-plane {
  border-radius: 50%;
  background-color: #1976d2;
  margin: 5px 10px 5px 0;
}

.mission-card__icon-plane-done {
  background-color: #228B22;
}

.mission-card__icon-drop {
  display: flex;
  align-items: center;
}

.mission-card__title {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  align-items: center;
  flex-wrap: wrap;
}

.mission-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mission-card__body span {
  display: flex;
  flex-wrap: wrap;
}

.mission-card__body--unchoosed {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

/* .mission-card__body--unchoosed:last-child:not(:only-child) {
  border-bottom: none;
} */

.mission-card__body--choosed {
  border: 2px solid red;
}
