.mission-card__container:hover,
.mission-card__container--choosed:hover {
  cursor: pointer;
}
.mission-card__container {
  min-height: 15%;
}

.mission-card__container--unchoosed {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.mission-card__container--choosed {
  border: 3px solid red;
}

.mission-card__header {
  display: flex;
  height: 50%;
}

.mission-card__icon {
  border-radius: 50%;
  background-color: #1976d2;
  margin: 5px;
}

.mission-card__title {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mission-card__body {
  display: flex;
  justify-content: center;
}
