.list-TB__container {
  display: flex;
  align-items: center;
  min-height: 16%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list-TB__container--normal {
  border: 1px solid black;
}

.list-TB__container--error {
  border: 2px solid red;
}

.list-TB__title {
  min-width: 80%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
