/* common use */
.onclick {
  border: 2px solid red !important;
}

.choosed {
  opacity: 0.4;
}

.hadsubmitted {
  pointer-events: none;
}

.checkmark-hadsent {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #7fff00;
  border-right: 7px solid #7fff00;
}

.checkmark-hadchoosed {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 28px;
  margin-top: 40%;
  margin-left: 50%;
  border-bottom: 7px solid #d2042d;
  border-right: 7px solid #d2042d;
}

.flightmanage-line-seperate-items {
  margin-left: 25%;
  margin-top: 10px;
  left: 25%;
  width: 50%;
  height: 5px;
  background-color: #1976d2;
}

/* components */
.flightmanage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border: 2px solid #000;
  box-shadow: 24;
  padding-right: 0;
}

.flightmanage-container {
  height: 100%;
}

.flightmanage-listdata {
  height: 100%;
  border: 1px solid black;
  overflow-y: auto;
}

.flightmanage-listdata-item {
  min-height: 18%;
  border: 1px solid black;
  display: flex;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  background-image: url("../../../assets/images/folder_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
}

.flightmanage-listdataitem-title {
  position: relative;
}

.flightmanage-btn-close {
  position: absolute !important;
  top: 0;
  right: 0;
}

.flightmanage-imgdata {
  /* margin-top: 2rem !important; */
  height: 100%;
  border: 1px solid black;
}

.flightmanage-imgdata-container {
  height: 94vh;
  overflow-y: auto;
}

.flightmanage-imagelist {
  width: 100%;
  min-height: 93%;
  max-height: 100%;
}

.flightmanage-imagelist-title {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.flightmanage-imagelist-label:hover {
  border: 2px solid red;
}
