* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#home-btn-container {
  display: inline-block;
  margin: 0.625rem 0 0 1rem;
}

.home-btn-change-maptype {
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  text-align: center;
  width: 75px;
  padding: 10px;
}

.home-btn-change-maptype-bold-text {
  position: relative;
  z-index: 1; /*The z-index should be higher than Google Maps */
  text-align: center;
  width: 75px;
  padding: 10px;
  font-weight: bold;
}

.home-map-title {
  position: absolute;
  /* margin: 9.5rem 0 0 27rem !important;  */ /*de lai MUI goc*/
  bottom: 1rem;
  right: 0;
  z-index: 1;
  color: black;
  font-weight: bold;
}

.home-google-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  /* Set z-index to 0 as it will be on a layer below the contact form */
}
